body {font-family: Verdana, Arial, sans-serif;color: #666666;background-color: #FFFFFF; margin: 0;}
* { box-sizing: border-box; }
header { background-color: #002171;
    background-position: right; background-repeat: no-repeat; 
    color: #FFFFFF; padding: 1em;}
header nav a {text-decoration: none; color: #FFFFFF;}
header nav a:visited {color: #FFFFFF;}
header nav a:hover {color: #90C7E3;}
section {padding-left: .5em; padding-right: .5em;}
    h1 {text-align: center; font-size: 1.5em;}
    h2 {font-family: Georgia, serif;color: #1976D2;}
    h3 {font-family: Georgia, serif;}
nav {font-size: 1.2em; text-align: center;background-color: #FFFFFF;}
    nav ul {list-style-type: none; flex-direction: column; margin: 0;
        padding-left: 0;}
    nav li {padding-top: .5em; padding-bottom: .5em; padding-left: 1em; padding-right: 1em;
        width: 100%; border-bottom-width: 1px; border-bottom-style: solid;}  
    .fixed-nav-bar {position: fixed;}
    nav a { text-decoration: none;}
       nav a:link {color: #5C7FA3;}
       nav a:visited { color: #344873;}
       nav a:hover {color: #A52A2A}
textarea, input {margin-bottom: .5em;}
main {padding-left: 1em; padding-right: 1em; padding-top: 1em;padding-bottom: 0; display: block; background-color: #FFFFFF;}
dt {font-weight: bold;color: #002171;}
.resort {font-size: 1.2em;color: #1976D2;}
#homehero { height: 300px; background-image: url(coast.jpg);
    background-repeat: no-repeat; background-size: 200% 100%;}
#yurthero {height: 300px; background-image: url(yurt.jpg);;
    background-repeat: no-repeat; background-size: 200% 100%;}
#trailhero { height: 300px; background-image: url(trail.jpg);
    background-repeat: no-repeat; background-size: 200% 100%;}
#reshero {height: 300px; background-image: url(ocean.jpg);
    background-size: 100% 100%; background-repeat: no-repeat}
#mobile {display: inline;}
#desktop {display: none;}
table {border-collapse: collapse; width: 90%; border: 1px solid #3399CC; margin: 0 auto;}
td, th {padding: 5px; border: 1px solid #3399CC;}
td {text-align: center;}
tr:nth-child(even)  {background-color: #DFEDF8;}
.class {text-align: left;}
footer {background-color: #FFFFFF; font-size: 0.70em;font-style: italic;
text-align: center;padding: 1em;}
form {display: flex; flex-direction: column; padding-left: 1em; width: 80%;}
@media screen and (min-width: 600px){
    h1 {font-size: 2em; letter-spacing: .25em;}
    nav ul {display: flex; flex-direction: row; flex-wrap: nowrap; 
    justify-content: space-around; padding-right: 2em;}
    nav li {width: 12em; border-bottom: none;}
    section {padding-left: 2em; padding-right: 2em;}
    form {width: 60%; display: grid; grid-gap: 1em; grid-template-columns: 10em 1fr;}
    input[type="submit"] {grid-column: 2;width: 9em;}
    #flow {display: flex; flex-direction: row;}
    #mobile {display: none;}
    #desktop {display: inline;}
    #homehero {background-size: 100% 100%;}
    #yurthero {background-size: 100% 100%}
    #trailhero {background-size: 100% 100%}
}
@media screen and (min-width: 1024px){
    body {background-image: linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);}
    nav ul {padding-left: 10%; padding-right: 10%;}
    #wrapper {margin: auto; width: 80%;}
}